/* CSS Document */
img{width: 100%;}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.new-padding{
   padding-left: 5% !important;
   padding-right: 5% !important;
}

.p-font{
   font-size: 16px;
   line-height: 2;
}

my-footer{
   font-size: 8px;
   line-height: 1;
}

.row.add-botspace{
   padding-bottom:12px !important;
}

 .col-sm-height {
    display: table-cell;
    float: none;
    height: 50%;
 }
 
 .project-img {
    max-height: 180px;
    max-width: 180px;
    
}
	/*http://www.bootply.com/66024
	http://stackoverflow.com/questions/17377379/responsive-text-alignment-in-twitters-bootstrap-2-x
	*/
@media (min-width:992px)
{
  .text-right-responsive {text-align:right;}
  .text-center-responsive {text-align:left;}
} 
@media (max-width:991px)
{
  .text-right {text-align:left;}
  .text-center-responsive {text-align:center;}
}

.hi {
    width: 180px;
    height: 180px;
    background-image: url("BiggerSpiriteSmall.png");
    
    -webkit-animation: play  4s steps(2) infinite;
       -moz-animation: play  4s steps(2) infinite;
        -ms-animation: play  4s steps(2) infinite;
         -o-animation: play  4s steps(2) infinite;
            animation: play  4s steps(2) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -360px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -360px; }
}


@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -360px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -360px; }
}
